!!! 5
%html
  %head
    %meta(charset="utf-8")
    %meta(content="IE=edge,chrome=1" http-equiv="X-UA-Compatible")
    %title
      = current_page.data.title

    = stylesheet_link_tag "normalize", "all"
    = javascript_include_tag  "all"

  %body{ class: page_classes }
    = yield

    %footer
      Created by
      = link_to "@june29", "https://twitter.com/june29"
      \/
      Hosted on
      = link_to "GitHub", "https://github.com/june29/shuffle105"
